.c-grid{
  display: flex !important;
}
.c-grid > *{
  flex: 50%;
}

.c-me {
    width: 300px;
    height: 300px;
    border: 4px solid black !important;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-indent: -99em;
}

.u-no-border {
  border: none!important;
  box-shadow: none!important;
}
.reveal table.ctr td, .reveal table.ctr th{
  text-align: center;
}
.slide-background.all-the-things {
  background: url(../images/all_the_things.jpg) no-repeat 100% 100%;
  background-size: 50%;
}
.slide-background.stormtrooper{
  background: url(../images/trooper.png) no-repeat 100% 100% / contain;
}
.inline-stormtrooper{
  background: url(../images/trooper.png) no-repeat 50% 50% / contain;
  min-width: 50px;
  min-height: 100px;
}

.slide-background.vader{
  background: url(../images/vader.jpg) no-repeat 100% 100% / contain;
}
.inline-vader{
  background: url(../images/vader.jpg) no-repeat 50% 50% / contain;
  min-width: 50px;
  min-height: 100px;
}

.slide-background.emperor{
  background: url(../images/emperor.jpg) no-repeat 100% 100% / contain;
}
.inline-emperor{
  background: url(../images/emperor.jpg) no-repeat 50% 50% / contain;
  min-width: 50px;
  min-height: 100px;
}
code.il {
  background: rgba(255, 204, 204, 0.35);
  border: 1px solid currentColor;
  color: #f33;
  border-radius: 2px;
  padding: 0 .1em;
}

mark{
  background: rgba(255, 255, 25, .2);
  color: inherit;
}

mark.add:before, mark.add:after {
    content: "Add \2192";
    background: yellow;
    color: black;
    margin-left: 5px;
    position: absolute;
    left: -68px;
    border: 1px solid black;
    padding: 0 2px;
}

/*mark.add:after {
    content: "\2190 Add";
    margin-left: 5px;
    position: static;
}*/

/*.inmar h4 {
  font-family: sans-serif;
}*/

.inmar.slide-background:after {
  content: "";
  display: block;
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
  right: 0;
  z-index: -1;
  background: url(../images/inmar/headquarters.png);
  background-size: cover;
}
.inmar.present {
  font-size: .5em
}
.inmar h4 {
  font-size: 2em;
}
.inmar img{
  box-shadow: none!important;
  border: none!important;
  margin: 0!important;
}
.inmar .c-grid > *:first-child {
  padding-right: 2em;
  position: relative;
  right: 3em;
}

.reveal .important_quote{
  background: #cfcfcf;
  border-radius: 2px;
}